@page
@model Topothesies.Pages.Locations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.FilePath)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.MeterToNotify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.FilePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Location.Id">Edit</a> |
    <a asp-page="./IndexLoc">Back to List</a>
</div>
